html, body {
    height: 100%;
    margin: 0;
}

#_wrapper {
    position: fixed;
    display: flex;
    flex-flow: column;
    width: 100%;
    height:100%;
    left: 0;
    top: 0;
    padding: 0px;
}

#_header {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row
    width: 100%;
    height:auto;
    background-color:#000066;
    padding: 10px;
    color: #ffffff;
}

#_img {
    //display: flex;
    flex: 1 1 auto;
    width: 100%;
    height:90%;
    padding: 10px;
}

#_title{
}

#_selector{
    flex: auto;
    text-align: right;
}


h3 {
    margin: 0px;
}
